main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-cards-container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.user-card {
    grid-gap: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.user-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}

.user-card .user-name {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

.user-card input[type="text"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.test-button, .submit-button, .restart-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.test-button:hover, .submit-button:hover {
    background-color: #0056b3;
}

/* Center the buttons at the bottom */
.button-container {
    text-align: center;
}

.score-container {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.score-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.name-correct {
    color: green;
}

.name-incorrect {
    color: red;
}